<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= pageTitle %></title>

    <!-- Meta Tags for SEO -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="kgec, ece, electronics and communications engineering, kgec ece, kgec 2023, ayush singh, kalyani government engineering college">
    <meta name="description"
        content="Welcome to Elece, a virtual space for the students of KGEC, ECE batch of 2023. The platform helps to manage upcoming classes, schedules, assignments, activities and more.">
    <meta property="og:title" content="Elece 🌱">
    <link href="/img/logo.png" rel="icon">
    <meta property="og:description"
        content="Welcome to Elece, a virtual space for the students of KGEC, ECE batch of 2023. The platform helps to manage upcoming classes, schedules, assignments, activities and more.">
    <meta name="robots" content="all">
    <meta property="og:image" content="/img/og.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://elece.herokuapp.com/">
    <meta itemprop="url" content="https://elece.herokuapp.com/">
    <meta name="theme-color" content="#232D41">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <!-- Stylesheet for font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="/js/feather.min.js"></script>

    <!-- Website Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/query.css">
    <link rel="stylesheet" href="/css/slick.css">

</head>

<body>
    
    <nav>
        <div class="logo">
            <img src="/img/logo.png" alt="Grace">
        </div>
        <ul class="menu">
            <li class="active">
                <a href="/"><i data-feather="grid"></i></a>
            </li>
            <li>
                <a href="/schedule"><i data-feather="video"></i></a>
            </li>
            <li>
                <a href="/notices"><i data-feather="bell"></i></a>
            </li>
            <li>
                <a href="/people"><i data-feather="users"></i></a>
            </li>
        </ul>
        <a href="/profile"  class="icon toggle-dark red-icon">
            <i data-feather="settings"></i>
        </a>
    </nav>