<%- include('partials/header.ejs') %>

<section>
    <div class="container">
        <h1>Elece!</h1>
        <p>Elece is a project aimed at providing a web latform for schools and universities to conduct and organize their classes online. From embedded live meetings to managing teachers and students for school admins, Elece has it all covered.</p>
        <div class="flex-row sl">
            <div class="span-1-of-3 row">
                <img src="/illustrations/class.svg" alt="assignments">
                <h3>Activities</h3>
                <p>Lead and participate in various departmental events and activities.</p>
            </div>
            <div class="span-1-of-3 row">
                <img src="/illustrations/computer.svg" alt="assignments">
                <h3>Assignments</h3>
                <p>Stay updated with latest assignments and keep track of all the deadlines.</p>
            </div>
            <div class="span-1-of-3 row" style="margin-right: 0px;">
                <img src="/illustrations/math.svg" alt="assignments">
                <h3>Classes</h3>
                <p>Stay notified about all the upcoming classes and practicals.</p>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>